<html>
    <body>
        <form action="/insertProduct" method="post">
            Enter product id : <input type="text" name="pid" id="pid"><br>
            Enter product name : <input type="text" name="pname" id="pname"><br>
            Enter product price : <input type="text" name="price" id="price"><br>
            <button type="submit" name="btn" id="btn" value="btn">Add Product</button>
        </form>
    </body>
</html>