<html>
    <body>
        <form action="/updateProduct" method="post">
            Product id : <input type="text" name="pid" id="pid" value="<%=product.pid %>" readonly><br>
            Product name : <input type="text" name="pname" id="pname" value="<%=product.pname %>"><br>
            Product price : <input type="text" name="price" id="price" value="<%=product.price %>"><br>
            <button type="submit">Update List</button>
        </form>
    </body>
</html>